<% if user_signed_in? %>
  <p class="pt-3 pl-3 text-right">
    <% if favorite.present? %>
      <%= link_to 'お気に入り解除', favorite_path(id: favorite.id), method: :delete, class: 'btn btn-outline-danger btn-sm', remote: true %>
    <% else %>
      <%= link_to 'お気に入りする', favorites_path(facility_id: facility.id), method: :post, class: 'btn btn-outline-primary btn-sm', remote: true %>
    <% end %>
  </p>
<% end %>
