<h1>登録施設一覧</h1>
<p><%= link_to '新規施設登録', new_facility_path %></p>
<table>
  <tr>
    <th>施設名</th>
  </tr>
<% @facilities.each do |facility| %>
  <tr>
    <td><%= facility.name %></td>
    <td><%= link_to '詳細を確認', facility_path(facility.id) %></td>
  </tr>
<% end %>
</table>
