<div class="main mt-2 bg-white">
  <div class="p-3">
    <span class="h2 title">検索結果</span>
  </div>
  <% unless @facilities.blank? %>
  <%= render 'list' %>
  <% else %>
  <div class="text-center">
    該当の施設は見つかりませんでした
  </div>
  <% end %>
</div>
