// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.total-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 40px;
}
.individual-rating{
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 20px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}
.result-star{
  font-size: 30px;
  color: #f2e700;
}
.result-symbol{
  font-size: 20px;
}
.result-symbol{
  font-size: 35px;
}
